body {
    background-color: #090909;
}

.header {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 10%;
    margin: 50px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.wordle {
    display: flex;
    border-radius: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.letter {
    padding: 20px 25px;
    color: #090909;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #090909; /*#3d8037*/
    flex-shrink: 3;
    margin: auto 3px;
    border-radius: 5px;
    border: 4px solid #3a3a3c;
    font-weight: bold;
}

.btn {
    color: #fff;
    background-color: #3a3a3c;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0.7em 0.7em;
}

.show-btn {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% + 75px);
    left: 50%;
}

.copy-btn {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% - 75px);
    left: 50%;
}

.links {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

.api-link {
    display: flex;
    flex-shrink: 3;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 95%;
    left: 45%;
    color: inherit;
    font-family: inherit;
}

.repo-link {
    display: flex;
    flex-shrink: 3;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 95%;
    left: 55%;
    color: inherit;
    font-family: inherit;
}

